* {
  box-sizing: border-box;
}
html, body {
  margin: 0;
  padding: 0;
  font-family: 'Source Sans Pro', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  color: white;
}
p {
  font-size: 1.3em;
  color: #ededed;
}

path.arc {
  stroke-width: 0;
}
path.arc.dragging {
  stroke-width: 5;
}

header, footer, section {
  border: 1px solid;
}
header {
  background-color: rgb(23, 136, 163);
  min-height: 80%;
}
header * {
  text-indent: -100em;
}
header h1 {
  background: url(../img/listen-logo-v5.svg) no-repeat;
  background-size: contain;
  background-position: center;
  height: 7em;
}
header h3 {
  background: url(../img/mia-imls.svg) no-repeat;
  background-size: contain;
  background-position: center;
  height: 4em;
}

@media screen and (max-width: 29em) {
  #objects {
    padding-top: 0 !important;
  }
}
@media screen and (min-width: 30em) {
  #objects {
    -webkit-column-count: 2;
    -webkit-column-width: 50%;
    -moz-column-count: 2;
    -moz-column-width: 50%;
  }
}
@media (min-width: 45em) {
  #objects {
    -webkit-column-count: 3;
    -webkit-column-width: 33%;
    -moz-column-count: 3;
    -moz-column-width: 33%;
  }
}
@media (min-width: 57em) {
  #objects {
    -webkit-column-count: 4;
    -webkit-column-width: 25%;
    -moz-column-count: 4;
    -moz-column-width: 25%;
  }
}
@media (min-width: 69em) {
  #objects {
    -webkit-column-count: 5;
    -webkit-column-width: 20%;
    -moz-column-count: 5;
    -moz-column-width: 20%;
  }
}

#objects {
  padding-top: 1em;
  background-color: rgb(34, 34, 34);
}

figure {
  margin: 0 auto;
  position: relative;
}
figure figcaption {
  position: absolute;
  bottom: 0;
  right: 0;
  opacity: 0.8;
  text-align: center;
  background: rgba(34, 34, 34, 0.4);
  padding: 1em;
  color: #ededed;
}
figure:hover figcaption,
figure:active figcaption,
figcaption.show {
  opacity: 1;
  background: rgba(34, 34, 34, 0.9);
}

#objects img {
  width: 100%;
}

#credits, #instructions {
  background-color: rgb(41, 134, 88);
}
#credits .panel, #instructions .panel {
	padding: 1em;
	margin:0 auto;
	max-width: 550px;
}
#credits a {
  color: #ededed;
  text-decoration: underline;
}

svg {
  position: absolute;
  top: 0; left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
}

section#mixer { border: none; }
#mixer figure {
  position: absolute; bottom: 0; right: 0;
  z-index: -2;
}
figure figcaption.show { z-index: 20 !important; }
