<section polarize id="mixer" ng-class="{loading: !loaded}">
  <header ng-class="{expanded: !loaded || expandHeader}" ng-click="!expandHeader && toggleHeader()">
    <figure class="lone">
      <a href="//collections.artsmia.org/index.php?page=detail&id={{object.id}}">
        <img ng-show="object.id" ng-src="http://api.artsmia.org/images/{{object.id}}/300/small.jpg">
      </a>
    </figure>

    <div id="play-title">
      <input type="button" value="▸" id="play-pause" play-pause></input>
      <h2 ng-bind="object.title"></h2>
    </div>
    <a class="fitts" ng-click="toggleHeader($event)" id="collapse">X</a>
    <div id="controls">
      <a ng-click="saveMix()">Save</a>
      <a href="#">Home</a>
      <a ng-if="!expandHelp" ng-click="toggleHelp()">Help</a>
    </div>
  </header>

  <div ng-if="! loaded" id="loading">
    Loading...
  </div>

  <div ng-if="tracks" id="mixer">
    <br clear="both">

    <div ng-repeat="track in tracks" class="board" style="display: none">
      <div class="track">
        {{ track }}
      </div>
      <div class="gain">
        <input type="range" min="-100" max="100" value="0" ng-model="gain" ng-change="audioSources.setGain($index, gain / 100)">
      </div>
    </div>
  </div>
  <aside id="help" ng-class="{expanded: expandHelp}">
    <p>
      <img src="/img/rings.svg">
      Each ring represents one track
    </p>
    <p>
      <img src="/img/horizontal.svg">
      Select the track you want to adjust by moving horizontally. Use the vertical stripes in the background to guide you
    </p>
    <p>
      <img src="/img/vertical.svg">
      Adjust the volume of that track by staying put horizontally and moving your finger vertically
    </p>
    <a class="fitts" ng-click="toggleHelp()">X</a>
  </aside>
</section>
