/* app css stylesheet */

#loading {
	
}

#mixer {
	
}

#rewind {
	width: 30px;
}

#play-pause {
	width: 30px;
}

progress {
	width: 300px;
}

.track {
	width: 100px;
	float: left;
}

.gain {
	
}

.board {
	float: left;
}

input[type='range'] {
  -webkit-appearance: slider-vertical;
	width: 20px;
  height: 100px;
}


