/* app css stylesheet */

#loading {
	
}

#mixer {
	
}

#rewind {
	width: 30px;
}

#play-pause {
	width: 30px;
}

progress {
	width: 300px;
}

.track {
	width: 100px;
	float: left;
}

.gain {
	
}

input[type='range'] {
	width: 300px;
}
