<!doctype html>
<html lang="en" ng-app="myApp">
<head>
  <meta charset="utf-8">
  <title>MIA – Listen To The Collection</title>
  <link rel="stylesheet" href="css/app.css"/>
</head>
<body ng-controller="ListenCtrl">
   <div ng-if="! tracks" id="loading">
    Loading...
  </div>

  <div ng-if="tracks" id="mixer">
    <input type="button" value="◂" id="rewind" rewind></input>
    <input type="button" value="▸" id="play-pause" play-pause></input>
    
    <progress value="{{ audioSources.time() }}" max="{{ audioSources.duration() }}"></progress>
    
    <div ng-repeat="track in tracks">
      <div class="track">
        {{ track }} 
      </div>
      <div class="gain">
        <input type="range" min="-100" max="100" value="0" ng-model="gain" ng-change="audioSources.setGain($index, gain / 100)">
      </div>
    </div>
  </div>
    
  <script src="lib/buffer-loader.js"></script>
  <script src="lib/angular/angular.js"></script>
  <script src="lib/angular/angular-route.js"></script>
  <script src="js/app.js"></script>
  <script src="js/factories.js"></script>
  <script src="js/directives.js"></script>
  <script src="js/controllers.js"></script>  
</body>
</html>
