<!doctype html>
<html lang="en" ng-app="myApp">
<head>
  <meta charset="utf-8">
  <title>MIA – Listen To The Collection</title>
  <link rel="stylesheet" href="css/app.css"/>
</head>
<body ng-controller="ListenCtrl">
   <div ng-if="! buffers">
    Loading...
  </div>

  <div ng-if="buffers">
    <input type="button" value="Play" play-stop></input>
    {{ t }}        
    <div scrubber></div>
    <div ng-repeat="buffer in buffers">
      <input type="range" min="-100" max="100" value="0" style="width: 300px" ng-model="gain" ng-change="audioSources.setGain($index, gain / 100)">
    </div>
  </div>
    
  <script src="lib/buffer-loader.js"></script>
  <script src="lib/angular/angular.js"></script>
  <script src="lib/angular/angular-route.js"></script>
  <script src="js/app.js"></script>
  <script src="js/factories.js"></script>
  <script src="js/directives.js"></script>
  <script src="js/controllers.js"></script>
</body>
</html>
